* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.container {
	display: flex;
  /*width: 100vw;*/
  min-width: 300px;
  height: 100vh;
}

#side-menu {
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-flow:  column;
  /*width: 20%;*/
  border: 1px black solid;
  padding: 10px;
  transition: all 0.3s;
  overflow-y: auto;
  background: beige;
}

.collapsed {
  margin-left: -250px;
}

#main {
	/*width: 80%;*/
  border: 1px blue solid;
  background: lightgrey;
  padding: 10px;
}




#menu-bar {
	background-color: black;
	color: white;
  margin: auto;
}s

#map {
    top:60px;
    bottom:0px;
    height: 100%;
    left: 362px;
    position: absolute;
    right: 0px;
  }
